# Editors
.idea
.vscode
*.code-workspace
*.sublime-project
*.sublime-workspace

# Operating system related
.DS_Store
Thumbs.db

# Redis DB
dump.rdb

# Dev environment
/node_modules/
/vendor/
/assets/js/
/assets/css/
/languages/
/build/wp-console
/build/wp-console*
.wp-env.override.json
