#wp-console {
    display: none;

    &.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 160000;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
}
