#wp-console-app-notice {
    width: 500px;
    position: fixed;
    top: 5px;
    left: calc(50% - 250px);
    z-index: 100001; // 100000 is the modal z-index

    .components-notice {
        padding-right: 12px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    }
}
