.clearfix {

    @include clearfix();
}

.display-flex {
    display: flex;

    .align-self-center {
        align-self: center;
    }
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.list-inline {
    padding: 0;
    margin: 0;
    list-style: none;

    .list-inline-item {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.wp-console-button-no-style {
    color: $text-color;
    line-height: 1.9;

    &:not(.is-busy) {
        background: none;
        border: 0;
        box-shadow: none;
    }

    &:active {
        box-shadow: inset 0 0 3px 1px #999;
    }

    &:hover:not([disabled]):not(:active) {
        box-shadow: 0 0 0 1px rgba(153, 153, 153, 0.37);
    }

    &:focus:not(.is-busy):not(:active) {
        box-shadow: inset 0 -1px 0 #999, 0 0 0 2px #bfe7f3;
    }

    svg {
        margin-right: 4px;
        fill: #555;
    }

    &[disabled] {
        color: lighten($text-color, 25%);

        svg {
            fill: lighten($text-color, 25%);
        }
    }
}

.wp-console-spinner {
    position: relative;
    text-align: center;
    padding-top: 50px;

    .components-spinner {
        position: absolute;
        top: 15px;
        left: calc(50% - 29px);
    }
}

.panel-title {
    margin: 0;
    border-bottom: 1px solid $border-color;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 400;
}
