@use "sass:meta";
@use "colors" as colors;
@use "variables" as var;

body.wp-console-active {
    overflow: hidden;

    .ace_tooltip { // stylelint-disable-line selector-class-pattern
        white-space: normal;
        max-width: 370px;
        line-height: 1.6;
    }
}

#wp-console {

    @include meta.load-css( "utilities" );
    @include meta.load-css( "nav" );
    @include meta.load-css( "output-colors" );
    @include meta.load-css( "symfony-dump" );

    display: none;
    font-family: var.$font-family;
    color: var.$text-color;
    background-color: var.$body-background-color;
    font-size: 13px;
    line-height: 1.4;

    &.active {
        display: block;
        width: 100%;
        height: calc(100vh - 32px);
        position: fixed;
        top: 32px;
        left: 0;
        z-index: 99999;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: var.$link-color;
    }

    .components-button {
        padding: 0 8px;
        font-family: var.$font-family;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .empty-content {
        margin-top: 50px;
        text-align: center;
        color: rgba(68, 68, 68, 0.7);

        span {
            position: relative;

            svg {
                position: absolute;
                fill: colors.$white;
                background-color: var.$text-color;
                border: 1px solid #111;
                padding: 3px 5px;
                border-radius: 3px;
                top: -6px;
                left: -35px;
            }
        }
    }

    #wp-console-editor-output {
        border-bottom: 1px solid var.$border-color;

        pre {
            width: calc(100vw - 20px);
            height: calc(100vh - (32px + 50px + 301px + 49px));
            overflow: auto;
            padding: 10px 20px 10px 10px;
            margin: 0 0 0 20px;
            border-left: 1px solid var.$border-color;

            &.wp-console-output {
                font-size: 13px;
                background-color: colors.$white;
            }

            &.wp-console-error-trace {
                width: 100%;
                padding-right: 10px;
                margin-left: 0;
                border-left: 15px solid colors.$alert-red;
                background-color: #f9e2e2;
            }
        }
    }

    #wp-console-panel-debug-log {

        pre {
            font-family: var.$font-family-monospace;
            width: 100%;
            height: calc(100vh - (32px + 50px));
            overflow: auto;
            background-color: colors.$white;
            border-top: 0;
            border-left: 20px solid var.$body-background-color;
            border-bottom: 20px solid var.$body-background-color;
            padding: 10px;
            margin: 0;
            line-height: 1.6;
            border-radius: 0;
            box-shadow: inset 3px -3px 5px 1px rgba(123, 123, 123, 0.18);
        }

        .extra-info {
            width: 100%;
            font-family: var.$font-family-monospace;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 20px;
            font-size: 11px;
            opacity: 0.7;
            text-align: right;
            line-height: 1.7;

            .wp-console-separator {
                margin: 0 10px;

                &::after {
                    content: "·";
                }
            }
        }
    }

    @keyframes blink_text {

        50% {
            opacity: 0;
        }
    }
}

#wp-console-code-editor-wrapper {
    position: relative;
    border-bottom: 1px solid var.$border-color;
}

#wp-console-code-editor {
    width: 100%;
    height: 300px;

    .ace_content { // stylelint-disable-line selector-class-pattern

        .ace_text-layer { // stylelint-disable-line selector-class-pattern

            .ace_line:first-child { // stylelint-disable-line selector-class-pattern
                opacity: 0.4;
            }
        }
    }
}

#wp-console-panel-console {

    &.is-vertical {

        #wp-console-code-editor-wrapper {
            border-bottom: 0;
        }

        #wp-console-code-editor-wrapper,
        #wp-console-panel-console-results {
            width: 50%;
            height: calc(100vh - (32px + 50px));
        }

        #wp-console-panel-console-results {
            border-left: 1px solid var.$border-color;
        }

        #wp-console-code-editor {
            height: 100%;
        }

        #wp-console-editor-output pre {
            width: 100%;
            height: calc(100vh - (32px + 50px + 52px));
            margin-left: 0;
            border-left: 0;
        }
    }
}

@include meta.load-css( "app-notice" );
@include meta.load-css( "snippet-manager" );
@include meta.load-css( "compat" );
