@import "variables";
@import "mixins";
@import "~bootstrap/functions";
@import "~bootstrap/variables";
@import "~bootstrap/mixins";

body.wp-console-active {
    overflow: hidden;
}

#wp-console {
    @import "bootstrap";
    @import "icon-button";
    @import "notice";

    display: none;
    font-size: 13px;
    font-family: $font-family-base;

    &.active {
        display: block;
        position: fixed;
        top: 32px;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    .CodeMirror-code {

        & > div:first-child {

            .CodeMirror-line {
                opacity: 0.65;
            }
        }
    }
}

.wp-console-header {
    padding: 15px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.wp-console-title {
    font-size: 15px;
    display: inline-block;
    margin: 0;
    font-weight: 400;
}

.wp-console-header-buttons {
    margin: 0;
}

#wp-console-code-editor-wrapper {
    padding: 0 0 0 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
}

#wp-console-outputs {
    overflow: auto;
    height: calc(100vh - 387px);
    padding-bottom: 20px;
}
