@import "variables";
@import "mixins";
@import "~bootstrap/functions";
@import "~bootstrap/variables";
@import "~bootstrap/mixins";

body.wp-console-active {
    overflow: hidden;

    ul.CodeMirror-hints { /* stylelint-disable-line */
        z-index: 99999;
    }
}

#wp-console {

    @import "bootstrap";
    @import "icon-button";
    @import "notice";

    display: none;
    font-size: 13px;
    font-family: $font-family-base;

    &.active {
        display: block;
        position: fixed;
        top: 32px;
        left: 0;
        z-index: 99999;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
    }

    .CodeMirror-code { /* stylelint-disable-line */

        > div:first-child {

            .CodeMirror-line { /* stylelint-disable-line */
                opacity: 0.65;
            }
        }
    }

    .empty-content {
        margin-top: 50px;
        text-align: center;
        color: rgba(68, 68, 68, 0.7);

        span {
            position: relative;

            svg {
                position: absolute;
                top: -7px;
                left: -30px;
                fill: rgba(68, 68, 68, 0.83);

                &.icon-terminal {
                    fill: #fff;
                    background-color: #444;
                    border: 1px solid #111;
                    padding: 3px 5px;
                    border-radius: 3px;
                    width: 29px;
                    top: -6px;
                    left: -35px;
                }
            }
        }
    }

    .wp-console-header-buttons {
        margin: 0;

        .panel-buttons {
            position: absolute;
            width: 62px;
            top: calc(50% - 12px);
            right: 100px;
        }

        .components-button {

            svg {
                width: 13px;
                height: auto;
                fill: #444;
            }

            &.active,
            &.active:focus {
                border-color: #111;
                background-color: #444;
                box-shadow: inset 0 -1px 0 #111;

                svg {
                    fill: #fff;
                }
            }
        }
    }
}

.wp-console-header {
    position: relative;
    padding: 15px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.wp-console-title {
    font-size: 15px;
    display: inline-block;
    margin: 0;
    font-weight: 400;
}

#wp-console-code-editor-wrapper {
    padding: 0 0 0 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
}

#wp-console-debug-log {

    pre {
        max-height: calc(100vh - 115px);
        overflow: auto;
        margin: 0;
        padding: 10px;
        border-left: 25px solid #f1f1f1;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }
}

#wp-console-outputs {
    overflow: auto;
    height: calc(100vh - 387px);
    padding-bottom: 20px;

    .error-stacktrace {
        padding: 20px 0 0 20px;
        border-left: 10px solid $alert-red;
        background-color: lighten($alert-red, 35%);

        h3 {
            margin-top: 0;
        }

        pre {
            overflow: auto;
        }
    }

    .wp-console-output {
        background-color: #f1f1f1;
        border-bottom: 1px solid #ccc;

        &.has-dump {
            border-bottom: 0;
        }

        h4 {
            background-color: #f1f1f1;
            margin: 0;
            border-bottom: 1px solid #ccc;
            padding: 15px 20px;
            font-size: 15px;
            font-weight: 400;
        }

        pre {
            padding: 10px 20px 10px 10px;
            font-size: 13px;
            margin: 0 0 0 20px;
            background-color: #fff;
            border-left: 1px solid #ccc;
        }
    }

    .wp-console-dump {
        padding-left: 20px;
        background-color: #f1f1f1;
        border-bottom: 1px solid #ccc;

        pre {
            margin: 0;
        }
    }
}

.wp-console-spinner {
    position: relative;
    text-align: center;
    padding-top: 90px;

    .components-spinner {
        position: absolute;
        top: 50px;
        left: calc(50% - 29px);
    }
}

@import "output-colors";
